.bookingNav {
    background-color: rgb(19,36,38);
}

.bookingLogo {
    width: 75px;
    padding: 5px;
}

.bookingImg {
    padding: 5px;
}

.user-icon {
    float: right;
    padding: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 30px;
}

.bookingPoster {
    margin: auto;
    width: 300px;
}

.bookingImg {
    padding: 20px;
}

.movieDetailsContainer {
    width: 50%;
}

.movieDetails {
    float: left;
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

.arrowBack {
    margin-top: 20px;
    margin-left: -30px;
    position: relative;
}