.movieDetails {
    margin: auto;
    justify-content: center;
}

h2 {
    text-align: center;
}

.movieDescription, p {
    font-size: 16px;
}

.bookNowBtn {
    background-color: rgb(19,36,38);
    margin: 20px;
}

.ratingIcon {
    color: #FFCD3C;
    text-shadow: -1px -1px rgba(0,0,0,1), 1px 1px rgba(255,255,255,1);
}

.arrowBack {
    position: absolute;
    left: 15%;
    font-size: 25px;
}