.movieDetails {
    margin: auto;
    height: 425px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

h1, h2 {
    text-align: center;
}

.movieDescription, p {
    font-size: 16px;
}

.bookNowBtn {
    background-color: rgb(19,36,38);
    border-radius: 30px;
}

.ratingIcon {
    color: #FFCD3C;
    text-shadow: -1px -1px rgba(0,0,0,1), 1px 1px rgba(255,255,255,1);
}