@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: rgb(19,36,38);
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Apply mobile-first responsive design */
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    text-align: center;
  }

  li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}